body {
    background: #0C3C26;
}

img {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: coral;
}

.social {
    background: #333;
    margin-top: 10px;
}