body {
    background: #0C3C26;
    box-sizing: border-box;
}

img {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: coral;
}

.social {
    margin-top: 10px;
}

.social i {
    color: #FFF;
}

